h1,
h2 {
  text-align: center;
  margin: 10px 0;
}

form label {
  margin-top: 20px;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Pour la page à vous de jouer */
.grid-avdj {
  display: grid;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.grid-avdj article {
  width: 100%;
  max-width: 380px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid-avdj article footer {
  padding: 10px;
  font-weight: bold;
}

.grid-avdj a {
  transition: transform 0.3s ease;
}

.grid-avdj a:hover {
  text-decoration: none;
  transform: translateY(-10px) scale(1.05);
  transition: transform 0.5s ease;
}

@media (max-width: 600px) {
  .grid-two-columns {
    grid-template-columns: 1fr;
  }
}
