# --- Médias et Fichiers Lourds ---
*.mp4
*.mov
*.avi
*.wmv
*.flv
*.mkv
*.exe

# --- Fichiers de Configuration Sensibles ---
create_db.php
setup_user.php
secrets.txt
.env
test_db_connection.php
bdd.sql

# --- Fichiers de l'IDE & du Système ---
.vscode/
.idea/
*.swp
*.log
Thumbs.db
desktop.ini
.env
node_modules/

# --- Fichiers Temporaires PHP ---
session/
temp/
tmp/
vendor/

# --- Divers ---
.DS_Store
